In [1]:
import numpy as np

In [46]:
#colums: [age,maths mark, science marks]
data=np.array([
    [18,85,78],   #student1
    [19,92,88],   #student2
    [17,76,95],   #student3
    [18,65,70],   #student4
    [20,90,85]    #student5
])

In [47]:
#get the shape of the matrix
data.shape

(5, 3)

In [48]:
#find the avarage age of students
age=data[ : ,0]
age.mean()

np.float64(18.4)

In [49]:
#extract math marks of all students
math=data[ : ,1]
math

array([85, 92, 76, 65, 90])

In [50]:
#find the highest science mark
science=data[ : ,2]
science.max()

np.int64(95)

In [51]:
#get details of the student who scored more than 90 in math
math=data[ : ,1]
for i in range(len(data)):
    j=data[i,1]
    if j>90:
        print(data[i])

[19 92 88]

In [52]:
#get details of the student who scored more than 90 in math
data[data[ : ,1]>90]

array([[19, 92, 88]])

In [54]:
#increase math marks of all student by 5
data[ : ,1]+=5
data

array([[18, 90, 78],
       [19, 97, 88],
       [17, 81, 95],
       [18, 70, 70],
       [20, 95, 85]])

In [29]:
#find how many students are younger than 19
count=0
for i in age:
    if i<19:
        count+=1
print(count)

3

In [58]:
#find how many students are younger than 19
len(data[data[:,0]<19])

3

In [59]:
#calculate the avarage marks in each subject (column wise mean)
np.mean(data,axis=0)

array([18.4, 86.6, 83.2])

In [60]:
#get data of students who scored at least 80 in both subjects

for i in range(len(data)):
    j=data[i,1]
    k=data[i,2]
    if j>=80 and k>=80:
        print(data[i])

[19 97 88]
[17 81 95]
[20 95 85]

In [62]:
#replace all Science marks <75 with 0
for i in range(len(data)):
   
    k=data[i,2]
    if k<75:
        data[i]=0
data

array([[18, 90, 78],
       [19, 97, 88],
       [17, 81, 95],
       [ 0,  0,  0],
       [20, 95, 85]])

In [24]:
len(data)

5

np.int64(18)